

.chart.small{width:100px; height:100px;}
.chart.large{width:150px; height:150px;}


/* Control font style inside donut */
.percent{
	border-radius: 1000px;
	font-weight:bold;
	position: absolute;
	display: inline-block;
	top: 12%;
	bottom: 12%;
	right: 12%;
	left: 12%;
	text-align: center; 
	background: #323a45;
	color:#fff;
}

.p-inner{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.p-text{
	position: relative;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    padding-right:10px;
}

.p-text:after{
	content:' %';
	font-size:1rem;
	line-height: 1rem;
	position:absolute;
	top:15%;
}

